doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/p/app.css")
        script(src="https://kit.fontawesome.com/59ff89737f.js" crossorigin="anonymous")
        title #{APP_NAME}
    body
        div(id="xx-ccx-xx" style="display:none;") HUSHHHH
        block content
        script(type="text/javascript" defer src="/p/app.js")